.simple-slider {
	width: 90%;
	margin: auto;
}
input {
	border-radius: 10px;
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;

	height: 150px;
	width: 220px;
}

input.large {
	margin: 0px;
	font-size: 100px;
	height: 150px;
	width: 220px;
}
input.medium {
	margin: 0px;
	font-size: 55px;
	height: 150px;
	width: 270px;
}
input.small {
	margin: 15px 0;
	font-size: 40px;
	height: 120px;
	width: 290px;
}

.info-text {
	font-size: 12px;
	color: #666;
	margin: 10px;
}

h2 {
	margin-bottom: 30px;
}


.results {
	width: 66%;
	margin: auto;
}


details {
	text-align: left;
}

p.big-paragraph {
	font-size: 21px;
}
